<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/burger.css">
    <script defer src="js/burger.js"></script>
    <script defer src="js/admin.js"></script>
    <title>Game Lord</title>
</head>
<body>
    <main>
    <!-- HAMBURGER MENU DROP DOWN -->
    <form action="/library">
        <div class="container">
          <h1>Admin Page</h1>
          <div id="topNav" class="navigation">
              <span id="closebtn" onclick="navToggle()">
                  <span class="line1"></span>
                  <span class="line2"></span>
                  <span class="line3"></span>
                  
              </span>
              <div class="logo">
                  <!-- <h1 id="title">Game Lord</h1> -->
                  <img src="" />
                  
              </div>
      
              <ul class="menulist">
                  <li><a class="menuitems" href="#">ABOUT</a></li>
                  <li><a class="menuitems" href="/admin">ADMIN</a></li>
                  <li><a class="menuitems" href="/library">LIBRARY</a></li>
                  <li><a class="menuitems" href="#">CONTACT US</a></li>
              </ul>
        </div>

          <p>Please fill the game information you would like to rent out.</p>
          <hr>
      
          <label for="title"><b>Title</b></label>
          <input type="text" placeholder="Enter video game title" name="title" id="name" required>

          <hr>

          <section>
            <button type="submit">Add Game</button>
            <ul>
              <% game.library.forEach((game, i) => { %>
                <li><%= i %>. <a href="/library/<%= game._id %>"><%= game.title %></a></li>
              <% }); %>
            </ul>
          </section>
        </div>

      </form>
    </main>
</body>
</html>