<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/burger.css">
    <link rel="stylesheet" href="styles/slideshow.css">
    <link rel="stylesheet" href="styles/library-btns.css">
    <link rel="stylesheet" href="styles/gameCard.css">
    <script defer src="js/burger.js"></script>
    <script defer src="js/slideshow.js"></script>
    <title>Game Lord</title>
</head>
<body>

    <!-- HAMBURGER MENU DROP DOWN -->
    <div id="topNav" class="navigation">
        <span id="closebtn" onclick="navToggle()">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>

        </span>
        <div class="logo">
            <!-- <h1 id="title">Game Lord</h1> -->
            <img src="" />

        </div>

        <ul class="menulist">
            <li><a class="menuitems" href="#">ABOUT</a></li>
            <li><a class="menuitems" href="/admin">ADMIN</a></li>
            <li><a class="menuitems" href="/library">LIBRARY</a></li>
            <li><a class="menuitems" href="#">CONTACT US</a></li>
        </ul>
    </div>

    <div id="main">
    </div>

    <div class="websiteName">
        <h1>
            <a href="/">Game Lord</a>
        </h1>
    </div>


    <!-- 3 PICTURE SLIDESHOW -->
    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="https://images.unsplash.com/photo-1493711662062-fa541adb3fc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                style="width:100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="https://images.unsplash.com/photo-1565869812436-a480bda13b6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80"
                style="width:100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 4</div>
            <img src="https://images.unsplash.com/photo-1577741314755-048d8525d31e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                style="width:100%">
            <div class="text"></div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">4 / 4</div>
            <img src="https://images.unsplash.com/flagged/photo-1580234748052-2c23d8b27a71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80"
                style="width:100%">
            <div class="text"></div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <!-- How it works -->
    <div>
        <h1>How it works</h1>
        <div class="how-it-works-pics">
            <img src="images/step1.png" alt="step1">
            <img src="images/step2.png" alt="step1">
            <img src="images/step3.png" alt="step1">
        </div>
    </div>




    <!-- CONSOLE DIRECTORY -->

    <!-- <div class="library-btn-group">
        <h1>Console Library</h1>
        <div class="btn-group">
            <button id="xbox-btn">Xbox</button>
            <button id="switch-btn">Switch</button>
            <button id="playstation-btn">Playstation</button>
        </div>
    </div>

    </div> -->


    <!-- GAME LIBRARY -->
    
    
    <!-- XBOX GAMES -->
    <h1>Xbox Games</h1>

    <div class="wrapper">
        <div class="card"><img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6382/6382198_sd.jpg" />
            <div class="info">
                <h1>Call of Duty Modern Warfare</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
        <div class="card"><img src="https://images-na.ssl-images-amazon.com/images/I/5145lzBRdIL.jpg" />
            <div class="info">
                <h1>Fortnite</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
        <div class="card"><img
                src="https://images-na.ssl-images-amazon.com/images/I/81vk0m4EM0L._SX342_.jpg" />
            <div class="info">
                <h1>NBA 2k20</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
        <div class="card"><img
                src="https://media.gamestop.com/i/gamestop/10115457/Grand-Theft-Auto-V?$pdp$" />
            <div class="info">
                <h1>Grand Theft Auto V</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
        <div class="card"><img
                src="https://media.gamestop.com/i/gamestop/10168657/Minecraft-Starter-Collection?$pdp$" />
            <div class="info">
                <h1>Minecraft</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
    </div>


    <!-- SWITCH GAMES -->
    <h1>Switch Games</h1>

    <div class="wrapper">
        <div class="card"><img src="https://target.scene7.com/is/image/Target/GUEST_b26ea68d-b0c3-4f30-a67a-4182b17841f3?wid=488&hei=488&fmt=pjpeg" />
            <div class="info">
                <h1>Super Smash Bros Ultimate</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
        <div class="card"><img src="https://target.scene7.com/is/image/Target/GUEST_550bae17-dc07-4a06-b726-64482954b101?wid=488&hei=488&fmt=pjpeg" />
            <div class="info">
                <h1>Pokemon Sword</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
        <div class="card"><img
                src="https://target.scene7.com/is/image/Target/GUEST_57bbec2f-28e8-40ab-885a-ae1976302fdd?wid=488&hei=488&fmt=pjpeg" />
            <div class="info">
                <h1>Mario Kart 8 Deluxe</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
        <div class="card"><img
                src="https://target.scene7.com/is/image/Target/GUEST_83f32699-98bf-49e0-903a-1eede0c034e8?wid=488&hei=488&fmt=pjpeg" />
            <div class="info">
                <h1>Animal Crossing New Horizons</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
        <div class="card"><img
                src="https://target.scene7.com/is/image/Target/GUEST_ae2fe688-24a6-41b7-813d-2ca5c9eff087?wid=488&hei=488&fmt=pjpeg" />
            <div class="info">
                <h1>Kirby Star allies</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
    </div>


    <!-- PLAYSTATION GAMES -->
    <h1>Playstation Games</h1>

    <div class="wrapper">
        <div class="card"><img src="https://media.gamestop.com/i/gamestop/10138091/Red-Dead-Redemption-2" />
            <div class="info">
                <h1>Red Dead Redemption II</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
        <div class="card"><img src="https://media.gamestop.com/i/gamestop/10130410/Tom-Clancys-Ghost-Recon-Wildlands?$pdp$" />
            <div class="info">
                <h1>Ghost Recon</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
        <div class="card"><img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/9501/9501102_sa.jpg" />
            <div class="info">
                <h1>Call of Duty Ghost Recon</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
        <div class="card"><img
                src="https://images-na.ssl-images-amazon.com/images/I/51SpnQyfI-L._SX342_.jpg" />
            <div class="info">
                <h1>Final Fantasy XV</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
        <div class="card"><img
                src="https://media.gamestop.com/i/gamestop/10174062/Borderlands-Game-of-the-Year-Edition?$pdp$" />
            <div class="info">
                <h1>Borderlands G.O.T.Y. Edition</h1>
                <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                <button>Add to cart</button>
            </div>
        </div>
    </div>




</body>
</html>